body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background: #f8f9fa;
    direction: rtl;
  }
  
  .dashboard-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    background-color: #36454F;
    /* background-color: #304771; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar .logo {
    font-size: 28px;
    margin-left: 8px;
  }
  
  .navbar .app-name {
    font-size: 30px;
    font-weight: bold;
}
  
  .navbar-right i {
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #36454F;
    color: white;
    padding-top: 20px;
    height: 100vh;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sidebar li i {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .sidebar li:hover {
    background-color: #304771;
  }
  
  .page-content {
    flex: 1;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .nav-item {
    display: flex;
    align-items: center;
    padding:5px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
    font-weight: 700;
  }
  
  .sidebar .nav-item i {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .sidebar .nav-item:hover {
    background-color: #304771;
  }
  
  /* الرابط النشط (الصفحة الحالية) */
  .sidebar .nav-item.active {
    background-color: #304771;
    font-weight: bold;
  }
  